.resume {
  padding: 100px 20px; /* Top padding equal to the height of the navbar */
  padding-bottom: var(--footer-height); /* Bottom padding equal to the height of the footer */
  overflow-y: auto; /* Allows scrolling within the container */
  margin-top: var(--navbar-height); /* Push content down below the navbar */
  margin-bottom: var(--footer-height); /* Push content up above the footer */
}

/* Define CSS variables for the height of the navbar and footer */
:root {
  --navbar-height: 100px; /* Adjust this value to match your navbar's actual height */
  --footer-height: 100px; /* Adjust this value to match your footer's actual height */
}

.download-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  background-color: #0000EE;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-button:hover {
  background-color: #444;
}

.page-header {
  text-align: center;
  margin-bottom: 20px; /* Space below the header */
}
.summary-statement h1, .summary-statement p {
  text-align: center;
  margin-bottom: 30px; /* Space below the summary statement */
}

.columns {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Spacing between columns */
}

.left-column, .right-column {
  flex-basis: 48%;
  max-width: 600px; /* Maximum width to prevent the columns from getting too wide */
  text-align: left;
}

.left-column section {
  margin-bottom: 80px;
}
.skills-list, .work-experience-item {
  list-style-type: disc;
  padding-left: 40px;
}

h1, h2, h3, p, ul, li {
  text-align: left;
  margin-bottom: 10px;
}

a {
  color: #0000EE;
  text-decoration: none;
}

/* Add more media queries as necessary for responsive design */
@media (max-width: 800px) {
  .columns {
    flex-direction: column;
  }

  .left-column, .right-column {
    flex-basis: 100%;
  }

  .resume {
    padding-top: var(--navbar-height-mobile); /* Adjust for mobile navbar height */
    padding-bottom: var(--footer-height-mobile); /* Adjust for mobile footer height */
  }

  :root {
    --navbar-height-mobile: 60px; /* Adjust this value for mobile navbar height */
    --footer-height-mobile: 50px; /* Adjust this value for mobile footer height */
  }
}
