.meeting {
  padding: 20px;
  text-align: center;
}

.meeting h2 {
  margin-bottom: 10px;
  text-align: center;
}

.meeting p {
  margin-bottom: 20px;
  text-align: center;
}

.whereby-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Style the iframe inside whereby-container */
.whereby-container iframe {
  width: 900px;
  height: 600px; /* Set the height to make the embed visible without scrolling */
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .whereby-container iframe {
    width: 100%; /* Adjusted to be full-width on mobile */
    height: 400px; /* Adjusted height for better visibility on mobile */
  }
}
